<footer>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <a href="/" class="logo">
                        <img alt="Porto Website Template" width="75" height="20" src="/assets/img/logo-footer.png">
                    </a>
                </div>
                <div class="col-md-5">
                    <p>© Copyright 2014. All Rights Reserved.</p>
                </div>
                <div class="col-md-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="/">FAQ's</a></li>
                            <li><a href="/">Sitemap</a></li>
                            <li><a href="/">Contact</a></li>
                        </ul>

                    </nav>

                </div>
                <div class="col-md-2">
                    <div class="social-icons pull-right">
                        <ul class="social-icons">
                            <li class="facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook">Facebook</a></li>
                            <li class="twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter">Twitter</a></li>
                            <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin">Linkedin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

