<div mat-card style="padding: 13px;">
    <hr class="tall">
    <div class="container">
        <h4>
            <span>Giới thiệu công ty</span>
        </h4>
        <p></p>
        <p>Mekong COM là công ty hàng đầu trong lĩnh vực kinh doanh sách trực tuyến tại Việt Nam với website là <a href='/' style="font-weight: bold;">www.sach.vn</a>&nbsp;hoạt động từ năm 2014</p>
        <p>Mục tiêu của chúng tôi là luôn mở rộng thị trường sách online cùng với 
    đà phát triển của công nghệ thông tin. Để thực hiện mục tiêu đó, chúng 
    tôi đã có những nhận thức đúng đắn về vai trò của nguồn nhân lực trong 
    xây dựng và phát triển kinh doanh. Chúng tôi đã và đang không ngừng hoàn
    thiện hơn nữa môi trường làm việc với các trang thiết bị hiện đại, cung
    cách làm việc hiệu quả để ngày càng hoàn thiện việc phục vụ khách hàng.</p>
     &nbsp; Đội ngũ <strong>Sach.vn</strong>:
     <br>&nbsp;
    - Trẻ, năng động, sáng tạo cùng với phong cách làm việc chuyên nghiệp 
hy vọng sẽ đáp ứng được sự mong muốn của khách hàng, đặc biệt trong việc
mua sách trực tuyến.
<br><br>
    &nbsp; Sứ mệnh <strong>Sach.vn</strong>:
    <br>&nbsp; 
    - Phục vụ khách hàng nhanh nhất và tốt nhất.
    <br> &nbsp; 
    - Không ngừng duy trì, phát triển và mở rộng phạm vi phục vụ sách đến mọi miền đất nước không phân biệt vị trí địa lý&nbsp;<br><br>&nbsp; Phong cách <strong>Sach.vn</strong>: 
    <br> &nbsp; - Với đội ngũ nhân viên chuyên nghiệp, chúng tôi phục vụ khách hàng từ 8 sáng đến 9 tối (Thứ 2 đến Chủ Nhật hàng tuần). 
    <br><br>&nbsp; Dịch vụ <strong>Sach.vn</strong>:
    <br> &nbsp; - Đặt hàng trực tuyến, giao hàng và thu tiền tận nơi trong và ngoài nước. 
    <br> &nbsp; - Sach.vn có mặt trên khắp nẻo đường, qua kênh phân phối của bưu chính Việt Nam. 
    <br> &nbsp; - Đội ngũ nhân viên giao hàng trong thành phố thân thiện và tận tâm. 
    <br> &nbsp; - Phương thức thanh toán:
    <p>&nbsp; &nbsp; + Trong nước: </p>
    <blockquote><ul>
        <li>Thanh toán tiền mặt khi giao hàng (áp dụng nội thành Hồ Chí Minh và Hà Nội)</li>
        <li>Nhân viên bưu điện thu hộ (giao hàng thu tiền - COD)</li>
        <li>Chuyển khoản ngân hàng<br></li>
        <li>Thanh toán trực tuyến bằng thẻ ATM của các ngân hàng trong nước</li>
        <li>Thẻ thanh toán quốc tế VISA và MasterCard &nbsp;- Tín dụng (credit card) hoặc ghi nợ (debit card)</li>
    </ul></blockquote>
    &nbsp; &nbsp;  + Quốc tế:<br> 
    <blockquote><ul>
        <li>Thẻ thanh toán quốc tế VISA và MasterCard &nbsp;- Tín dụng (credit card) hoặc ghi nợ (debit card)<br></li>
    </ul></blockquote>
    <p>&nbsp; - Phương thức vận chuyển:&nbsp; </p>
    <p>&nbsp; &nbsp; + Trong nước: </p>
    <blockquote><ul>
        <li>Chuyển tận nơi nội thành Hồ Chí Minh và Hà Nội</li>
        <li>Chuyển thường qua bưu điện&nbsp;</li>
        <li>Chuyển phát nhanh EMS</li>
    </ul></blockquote>
    &nbsp; &nbsp; + Quốc tế:
    <blockquote><ul>
        <li>Chuyển phát nhanh DHL</li>
        <li>Chuyển thường bằng máy bay</li>
    </ul></blockquote>
    
    <p><strong>&nbsp; </strong><strong>Sach.vn</strong> sẽ trở nên hữu ích đối với bạn đọc gần xa.
    <br><br>&nbsp;
    Khi bạn đọc cần giúp đỡ hay góp ý, xin vui lòng gửi e-mail hoặc viết 
    thư các câu hỏi và yêu cầu của mình theo địa chỉ dưới đây để được phục 
    vụ một cách tốt nhất.&nbsp;  </p>
    <blockquote>
        <p>Email:&nbsp;admin@sach.vn</p>
        <p>Địa chỉ: xxxx xxxx, Phường xxxx, Quận xxxx, Hà Nội</p>
        <p>Điện thoại: 1900 xxxx - (+848 ) - 7300 xxxx</p>
        <p>Fax: (84.8) 39492xxx</p>
    </blockquote>
    <br>
    <p></p>
        
    </div>
</div>